.contenedor-en-linea {
  justify-content: space-around;
}

.contenedor-estadisticas {
  gap: 15px;
}

#contenedor-botones {
  justify-content: center;
  margin-top: 25px;
}

@media(max-width: 799px) {
  #editar-perfil {
    gap: 7.5px;
  }
}