<section id="inicio">
    <main id="contenedor-principal">
      <section id="jugadores">
        <!-- Buscador por nombre -->
        <div class="buscador">
          <label for="buscarJugador">Buscar Jugador por Nombre:</label>
          <input type="text" id="buscarJugador" [(ngModel)]="busquedaNombre" (input)="filtrarPorNombre()" placeholder="Nombre...">
        </div>
        <!-- Filtros de Elo -->
        <div class="filtros">
          <label for="filtroElo">Filtrar por Elo:</label>
          <select id="filtroElo" (change)="filtrarJugadores($event)">
            <option value="standard">Elo Standard</option>
            <option value="rapido">Elo Rápido</option>
            <option value="blitz">Elo Blitz</option>
          </select>
        </div>
  
   <!-- Iterar sobre la lista de jugadores con *ngFor -->
  <div *ngFor="let jugador of jugadoresPaginados; let i = index" class="jugador-card">
    <a [routerLink]="['/jugador', jugador.id]" class="jugador-link">
      <div class="jugador-info">
        <!-- Número del ranking con clases dinámicas -->
        <div class="ranking-numero" [ngClass]="getPodioClase(i)">
          {{ (currentPage - 1) * pageSize + i + 1 }}.
        </div>
        <img [src]="jugador.foto" alt="Foto de {{ jugador.nombre }}" class="jugador-imagen">
        <div class="jugador-detalles">
          <h3>{{ jugador.nombre }} {{ jugador.apellido }}</h3>
          <h4>Elo Standard: {{ jugador.eloStandard }}</h4>
          <h4>Elo Rapido: {{ jugador.eloRapido }}</h4>
          <h4>Elo Blitz: {{ jugador.eloBlitz }}</h4>
        </div>
      </div>
    </a>
  </div>
  
        <!-- Paginación -->
        <div class="paginacion">
          <button (click)="cambiarPagina(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
          <span>Página {{ currentPage }} de {{ numeroDePaginas }}</span>
          <button (click)="cambiarPagina(currentPage + 1)" [disabled]="currentPage === numeroDePaginas">Siguiente</button>
        </div>
      </section>
    </main>
  </section>
  