<div id="contenedor-superior">
  <div class="recuadro-blanco contenedor-busqueda">
    <label for="buscar-jugador">Buscar jugador: </label>
    <input id="buscarjugador" type="text" placeholder="Nombre del jugador..." (input)="buscarJugadores()">
    <span *ngIf="busqueda !== ''" (click)="limpiarBusqueda()">&times;</span>
  </div>
  <div *ngIf="loginService.isAdmin()" id="crear-jugador" class="recuadro-blanco">
    <img src="admin.png" alt="Icono admin">
    <button [routerLink]="['/crearjugador']">Crear jugador</button>
  </div>
</div>

  
  
  
        <section id="jugadores" class="recuadro-blanco" [ngClass]="jugadores.length > 0 ? 'cuadricula' : 'mensaje-centrado'">
          <app-carta-jugador *ngFor="let jugador of jugadores" [jugador]="jugador" [routerLink]="[jugador.id]"></app-carta-jugador>
          <h3 *ngIf="jugadores.length === 0">No se encontraron coincidencias</h3>
        </section>

  <div class="recuadro-blanco contenedor-paginacion">
    <div class="contenedor-flechas contenedor-flechas-izquierda">
      <button class="flecha-izquierda" (click)="primeraPagina()" [disabled]="paginaActual === 1">&#9664;&#9664;</button>
      <button class="flecha-izquierda" (click)="paginaAnterior()" [disabled]="paginaActual === 1">&#9664;</button>
    </div>
    <span>Página {{ paginas > 0 ? paginaActual : 0 }} de {{ paginas }}</span>
    <div class="contenedor-flechas contenedor-flechas-derecha">
      <button class="flecha-derecha" (click)="paginaSiguiente()" [disabled]="paginaActual === paginas || paginas === 0">&#9654;</button>
      <button class="flecha-derecha" (click)="ultimaPagina()" [disabled]="paginaActual === paginas || paginas === 0">&#9654;&#9654;</button>
    </div>
  </div>