<div *ngIf="torneo" class="torneo-container">
  <div class="torneo-card">
    <h2>{{ torneo.nombre }}</h2>
    <div class="torneo-info">
      <div class="informacion-principal">
        <h4>Ritmo: {{ torneo.ritmo }}</h4>
        <h4>Fecha: {{ torneo.fecha | date }}</h4>
        <h4>Hora: {{ torneo.hora }}hs</h4>
        <h4>Duración: 
          {{ torneo.duracion?.inicio | date }} - 
          {{ torneo.duracion?.fin | date }}
        </h4>
        <h4>Descripción:</h4>
        <p>{{ torneo.descripcion || 'Sin descripción disponible.' }}</p>
        
      </div>

      <div class="jugadores">
        <h4>Jugadores inscritos:</h4>
        <div class="jugadores-lista">
          <div *ngFor="let jugador of torneo.jugadores" class="jugador" (click)="verPerfilJugador(jugador.id)">
            <p>{{ jugador.nombre }} {{ jugador.apellido }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
