/* Estilos generales */
#inicio {
    padding: 10vh 10vw;
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
    min-height: 100vh;
  }
  
  #torneos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  /* Estilo para el filtro de nombre (buscador) */
  .buscador {
    margin-bottom: 20px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .buscador label {
    font-size: 1.2rem;
    margin-right: 15px;
    color: #333;
  }
  
  .buscador input {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    transition: border-color 0.3s ease;
  }
  
  .buscador input:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  /* Estilos para las tarjetas de torneo */
  .torneo-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .torneo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
  
  .torneo-info {
    display: flex;
    flex-direction: column;
  }
  
  .torneo-detalles h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
  }
  
  .torneo-detalles h4 {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
    font-weight: normal;
  }
  .torneo-link {
    text-decoration: none;
    color: inherit;
  }

  
  /* Estilos para los estados del torneo */
/* Estilos para los estados del torneo */
.estado-en-curso {
    color: #B6A34A;
    font-weight: bold;
}

.estado-pendiente {
    color: #556B2F;
    font-weight: bold;
}

.estado-finalizado {
    color: #9E2A2F;
    font-weight: bold;
}

  /* Filtro */
  .filtros {
    margin-bottom: 30px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .filtros label {
    font-size: 1.2rem;
    margin-right: 15px;
    color: #333;
  }
  
  .filtros select {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .filtros select:focus {
    outline: none;
    border-color: #4CAF50;
  }
  

  
  /* Estilos para los controles de paginación */
.paginacion {
  display: flex;
  justify-content: center;
  align-items: center; /* Alineación vertical */
  margin-top: 20px;
}

/* Alineación del texto "Página X de X" */
.paginacion .pagina-texto {
  margin: 0 15px; /* Espaciado entre los botones y el texto */
  font-size: 1rem;
  color: #333;
}

/* Estilos de los botones de paginación */
.paginacion button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #888; /* Gris base */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.paginacion button:disabled {
  background-color: #d1d1d1; /* Gris más claro para el botón deshabilitado */
  cursor: not-allowed;
}

.paginacion button:hover {
  background-color: #666; /* Gris más oscuro al pasar el ratón */
}
